.title-profile {
	display: flex;
	padding: 30px;
}
.btn-list {
	display: flex;
	margin-left: 145px;

	gap: 10px;
}
.content-view {
	display: flex;
	/* position: relative; */
	gap: 20px;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}
.header {
	width: 100%;
	padding: 0;
	margin: 0;
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content-right {
	display: flex;
	gap: 10px;
	/* width: 100%; */
	gap: 20px;
	height: 119vh;
	align-items: center;
}

.box {
	display: flex;
	flex-direction: column;
	position: relative;
	user-select: auto;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	/* position: absolute; */

	background-color: #fdf6ff;
}
.mdc-data-ta {
	width: 100%;
}
.toadminbtn {
	width: 200px;
}

.table-manager {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 15px;
	align-items: center;
	justify-content: center;
	& .table-box {
		border: 1px solid rgba(0, 0, 0, 0.12);
		border-radius: 10px;
		background-color: #ebe5ee;
		width: 80%;
		height: 80%;
		padding: 10px;
	}
}

/* table */
.mdc-data-table {
	width: 100%;
	border-collapse: collapse;
}

.mdc-data-table {
	border-collapse: collapse;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
	background-color: #fdf6ff;

	height: 52px;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.12);
}

.mdc-data-table__header-cell {
	font-weight: bold;
	padding: 16px;
	color: white;
	background-color: #a688f7;

	text-transform: uppercase;
}

.mdc-data-table__header-cell:nth-child(2) {
	width: 300px;
}
.mdc-data-table__header-cell:nth-child(3) {
	width: 100px;
}
.mdc-data-table__header-cell:nth-child(6) {
	width: 200px;
}
.mdc-data-table__cell-div:first-child,
.mdc-data-table__cell-div:last-child {
	transition: all 0.3s;
	display: flex;
	justify-content: center;
}
.mdc-data-table__cell-div:hover {
	--md-elevation-level: 1;
}

.mdc-data-table__cell-div {
	& p {
		max-height: 56px;
		overflow: auto;
		margin: 0;
	}
}

.pagination {
	display: flex;
	align-items: center;
	gap: 20px;
}

#pageNumbers {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	position: relative;
	user-select: none;
}
