/* chat screne */
.top-side-bar-chat {
	& .search {
		--md-outlined-text-field-container-shape: 2rem;
		margin: 8px;
		width: 90%;
	}
	& .back_to_mess_icon {
		display: none;
	}
	box-shadow: 0 2px 2px #562f612e;
	display: flex;
	height: 8.2%;
	justify-content: center;
	align-items: center;
	padding: 3px 20px;
	gap: 20px;
	& #openprofile {
		cursor: pointer;
	}
	& .from-user {
		.avt {
			height: 50px;
			width: 50px;
			& .avatar-preview {
				width: 50px;
				height: 50px;
			}
		}
	}
}

.user-chat {
	padding: 10px 20px 10px 20px;
	height: 10%;
	justify-content: center;
	gap: 1%;
	align-items: center;
	display: flex;
	& .sendBtn {
		width: 10%;
		height: 80%;
		--md-filled-button-container-shape: 8px;
	}
	& .chatinput {
		&:hover {
			--md-elevation-level: 2;
		}
		--md-elevation-level: 1;

		background: #faf2ff;
		position: relative;
		width: 60%;
		border-radius: 8px;

		height: 80%;
		display: flex;
		align-items: center;
	}
	& textarea {
		width: 100%;
		height: 30%;
		padding: 15px;
		border-radius: 8px;
		background: #faf2ff;
		outline: none;
		border: none;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		--md-elevation-level: 2;
		resize: none;
		font-size: medium;
	}
}

.chatbox {
	overflow: auto;
	/* scroll-behavior: smooth; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f9ebff;
	& .chatlayout {
		align-items: flex-start;
		width: 70%;
		/* height: 100%; */
		display: flex;
		flex-direction: column;
	}
}

.mess-self,
.mess-other {
	display: flex;
	width: 95%;
	position: relative;
	flex-direction: column;
	align-items: flex-end;
	margin: 10px 0 10px 0;
}
.mess-chossed {
	border-radius: 16px;
	& .mess-chat {
		& .content-chat {
			--md-elevation-level: 1;
			background-color: #e173ff;
		}
	}
}

.mess-other {
	align-items: flex-start;
	& .mess-chat {
		display: flex;
		gap: 10px;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: flex-end;
	}
	& .content-chat {
		border-radius: 16px 16px 16px 2px;
		background-color: #fdf6ff;
	}
}

.mess-self {
	& .mess-chat {
		display: flex;
		gap: 10px;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.have-name {
	& .content-chat {
		padding: 10px 20px 10px 20px;
	}
}
.content-chat {
	position: relative;
	white-space: normal;
	background-color: #ebc6ff;
	max-width: 600px;
	min-width: 50px;
	padding: 20px 20px 25px 20px;
	border-radius: 16px 16px 2px 16px;
	height: fit-content;
	overflow-wrap: break-word;
	& .usermessname {
		/* position: absolute;
		left: 20px;
		top: 10px; */
		font-weight: 600;
		margin-bottom: 10px;
	}
	p {
		margin: 0;
		margin-bottom: 10px;

		padding: 0;
	}
	& .time-chat {
		position: absolute;
		right: 10px;
		bottom: 2px;

		font-size: small;
		font-weight: 100;
		color: var(--random-color);
		margin-bottom: 5px;
	}
}

/* main */
.chat {
	display: flex;
	flex-direction: row-reverse;

	& .chatscrene,
	.nullchatscrene {
		display: none;
		flex-direction: column;
		width: 80%;
		height: 125vh;
		background: #fae9ff;

		& .chatbox-divider {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			& .chatlayout-divider {
				width: 75%;

				display: none;
			}
		}

		& .title-chat {
			& .menu-title {
				display: flex;
				width: 100%;
				justify-content: flex-end;
				& span {
					& #usage-menu {
						min-width: 200px;
					}
					position: relative;
				}
			}
			padding: 0 30px 0 30px;
			display: flex;
			z-index: 20;
			align-items: center;
			position: relative;
			height: 10%;
			gap: 10px;
			background: #fdf6ff;
			box-shadow: 0 2px 2px #562f612e;
			/* --md-elevation-level: 1; */
		}
	}

	& .nullchatscrene {
		position: relative;
		display: block;

		& .nullchatscrene-massange {
			position: absolute;
			top: 50%;
			left: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 18px;
			border-radius: 999px;
			background-color: #fff;
			transform: translate(-50%, -50%);
		}
	}
}

body {
	margin: 0;
	background: #fdf6ff;
}

.side-bar {
	display: flex;
	padding: 20px 0 20px 0;
	flex-direction: column-reverse;
	align-items: center;
	width: 5%;
}

#fab-new-mess {
	transition: bottom 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
	bottom: -80px;
	right: 30px;
	--md-sys-color-primary: #000000;
	z-index: 99999;
	--md-fab-lowered-container-color: #ebc6ff;
	position: absolute;
}

/* sellect chat */
.side-bar-chat {
	&:hover #fab-new-mess {
		bottom: 20px;
	}

	border-left: #dfd5ff 1px solid;
	border-right: #dfd5ff 1px solid;
	z-index: 20;
	display: flex;
	flex-direction: column;
	height: 125vh;
	--md-elevation-level: 2;
	position: relative;

	width: 25%;
	overflow: hidden;
	background: #fdf6ff;
}

.divider-custom {
	--md-divider-color: #dfd5ff;
}

/* itemchat */

.item-chat,
.item-user {
	--md-ripple-hover-color: #c267ff;
	--md-ripple-pressed-color: #9d00ff;
	--md-elevation-level: 0;
	border-radius: 8px;
	display: flex;
	padding: 12px;
	position: relative;
	user-select: none;
	cursor: pointer;
	height: 80px;
	display: flex;
	gap: 20px;
	place-items: center;
	&:hover .more {
		display: block;
	}
	/* background-color: #ede7ff; */
	& .more {
		transition: all 0.3s ease;

		display: none;
		z-index: 20999;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.add-group {
	padding: 0 28px 0;
}

.choosed {
	background-color: #eeceff;
	/* --md-elevation-level: 1; */
}
/* inside itemchat */

.user-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px 0 20px 0;
}

.chatlist,
.listfriend {
	height: fit-content;
	display: flex;
	gap: 2px;
	flex-direction: column;
	padding: 20px 20px 0px 20px;
	height: 100%;
	overflow-y: auto;
}

/* .listfriend {
	display: none;
} */

.avt,
.avt > .avatar-preview {
	width: 70px;
	height: 70px;
}

.avt-title {
	width: 50px;
	height: 50px;
	& .avatar-preview {
		width: 50px;
		height: 50px;
	}
}

.container {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
}

.container-title {
	height: 60%;
}

.content-user {
	width: 20em; /* the element needs a fixed width (in px, em, %, etc) */
	overflow: hidden; /* make sure it hides the content that overflows */
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.name-user,
.name-user-title {
	font-size: large;
	font-weight: 600;
}

.name-user-title {
	font-size: larger;
}

.profile-popup {
	width: 100%;
	height: 100%;
	background-color: #000000;
}
#f-newroom-btn,
#add-curr-btn {
	display: none;
}
