.formLogin,
.formReg,
.formInfo {
	display: flex;
	width: 300px;
	padding: 60px 100px 60px 100px;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	border-radius: 0 0 10px 10px;
	background-color: #fdf6ff;
	align-items: stretch;
}

.formReg {
	display: none;
	width: 500px;
}
.formReg .loading {
	width: 500px;
}
.formInfo {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	border-radius: 10px;
	width: 500px;
}
.formInfo .loading {
	width: 500px;
	top: 30px;
}
.loading {
	position: absolute;
	top: 80px;
	width: 300px;
	display: none;
}

.box {
	user-select: none;

	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	top: 50%;
	left: 50%;
	z-index: 999999999999999999999999999999;
	transform: translate(-50%, -50%);
}

.popup {
	border-radius: 0px;

	width: 100%;
	display: none;
	height: 100%;
	background-color: #0a0a0a53;
	backdrop-filter: blur(10px);
}
.tabbox {
	/* background-color: #fdf6ff; */
	border-radius: 10px 10px 0 0;
}

.two-container {
	display: flex;
	justify-content: space-between;
	gap: 16px;
}

.two-container md-outlined-text-field,
md-outlined-select {
	width: 50%;
}
