:root {
	/* color */
	/* --md-sys-color-primary: #272727; */
	/* --md-sys-color-secondary: blue; */
	/* divider */
	/* --md-divider-color: #6f6f6f; */
	/* tab */
	/* --md-secondary-tab-container-color: #e6e3d1; */
	/* loading */
	--md-linear-progress-track-shape: 8px;
	/* --md-sys-color-surface-container-highest: #aeac9e; */
	/* icon */

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

	--md-icon-font: "Material Symbols Rounded";
	background: linear-gradient(
		90deg,
		rgba(247, 106, 144, 0.46551120448179273) 0%,
		rgba(166, 136, 247, 0.47111344537815125) 50%,
		rgba(247, 106, 144, 0.47) 100%
	);

	font-family: "Roboto";
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
html {
	zoom: 0.8;
}
.toast {
	--md-elevation-level: 2;
	transition: all 0.4s ease-out;
	top: -200px;
	opacity: 0;
	max-width: 450px;
	max-height: 200px;
	display: flex;
	margin-bottom: 10px;
	position: absolute;
	background-color: #fff;
	width: fit-content;
	padding-left: 15px;
	border-radius: 10px;
	z-index: 9999999999999999999999999999999;
}

.toastActive {
	top: 0;
	transition: all 0.4s ease-out;
	opacity: 1;
}

.content {
	overflow-wrap: break-word;
}
h1,
h3 {
	margin: 0;
}
