.title-profile {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.avatar-select,
.avatar-preview {
	position: relative;
	border-radius: 100%;
	vertical-align: middle;
	width: 150px;
	height: 150px;
	object-fit: cover;

	overflow: hidden;
	--md-elevation-level: 1;
}
.avatar-preview {
	border-radius: 0%;
}
.sellect {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 100%;

	opacity: 0;
	cursor: pointer;
	user-select: none;
	text-shadow: 0px 0px 9px #fff;
	z-index: 20;
	transition: all 0.3s ease-out;
	backdrop-filter: blur(5px);
	background-color: #ffffff6a;
}
.avatar-select:hover {
	--md-elevation-level: 2;
}
.avatar-select:hover .sellect {
	box-shadow: inset 0px 0px 10px 10px #000000;

	opacity: 1;
	--md-elevation-level: 2;
}

.avatar-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.avatar-select input[type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#title span {
	color: brown;
	text-decoration: underline;
}

#title-divider {
	--md-divider-thickness: 2px;
}

